In [1]:
import statistics

In [2]:
import statistics
x=(25,30,41)
p=statistics.mean(x)
print(p)

32

In [3]:
type(x)

tuple

In [4]:
25+30+41

96

In [5]:
96/3

32.0

In [6]:
import statistics
x=(25,30,41)
p=statistics.median(x)
print(p)

30

In [7]:
import statistics
x=(25,30,41)
p=statistics.mode(x)
print(p)

25

In [8]:
j=(27,3,46,2,38,64,7,4,6)
sort1=sorted(j)
print(sort1)

[2, 3, 4, 6, 7, 27, 38, 46, 64]

In [9]:
j=(27,3,46,2,38,64,7,4,6)
sort1=sorted(j,reverse=True)
print(sort1)

[64, 46, 38, 27, 7, 6, 4, 3, 2]

In [10]:
tech_companies=['apple','samung','mi',['realme','oneplus']]
last=tech_companies[-1]
print(last)
res=tech_companies[:-1]
print(res)
tot=res+last
print(tot)

['realme', 'oneplus']
['apple', 'samung', 'mi']
['apple', 'samung', 'mi', 'realme', 'oneplus']

In [11]:
tech_companies.remove(last)
tech_companies.extend(last)
print(tech_companies)

['apple', 'samung', 'mi', 'realme', 'oneplus']

In [12]:
my_tuple=(1,)
type(my_tuple)

tuple

In [27]:
my_tuple1=(1,23,76,8,90,54)
print(my_tuple1[3])
my_tuple1.index(23)

8

1

In [14]:
list1=[3,25,4,36,53,43]
#list1[4]
list1.index(43)

5

In [15]:
my_tuple1=(1,23,76,8,90,54)
my_tuple1.index(76)

2

In [16]:
l=sorted(my_tuple1)
print(l)

[1, 8, 23, 54, 76, 90]

In [17]:
#list.append,count,extend,index,insert,pop,remove,reverse,sort
#set.add,update,remove,.union,intesection,difference,symmetric
#dict.{keys:values},items(),get(''),update({''})

In [28]:
firstname=['Khader','vinay','july']
lastname=['Basha','nalagatla',2003]

In [29]:
mix=list(zip(firstname,lastname))
print(mix)

[('Khader', 'Basha'), ('vinay', 'nalagatla'), ('july', 2003)]

In [20]:
asj={2,4,1,8,13,10}
asj.remove(8)
print(asj)

{1, 2, 4, 10, 13}

In [21]:
a={2,4,1,8,13,10}
b={3,4,6,7,8,9,10}
#a.union(b)
a.intersection(b)

{4, 8, 10}

In [22]:
a={2,4,1,8,13,10}
b={3,4,6,7,8,9,10}
a.union(b)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 13}

In [23]:
a&b

{4, 8, 10}

In [24]:
a.difference(b)

{1, 2, 13}

In [25]:
b.difference(a)

{3, 6, 7, 9}

In [26]:
a-b

{1, 2, 13}

In [27]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 9, 13}

In [28]:
a^b

{1, 2, 3, 6, 7, 9, 13}

In [29]:
marvel_dict={'Name':'Thor','place':'asard','weapon':['hammer','katthi']}

In [30]:
marvel_dict['place']

'asard'

In [31]:
marvel_dict['weapon']

['hammer', 'katthi']

In [32]:
marvel_dict.keys()

dict_keys(['Name', 'place', 'weapon'])

In [33]:
marvel_dict.values()

dict_values(['Thor', 'asard', ['hammer', 'katthi']])

In [34]:
list(marvel_dict.keys())

['Name', 'place', 'weapon']

In [35]:
marvel_dict.items()

dict_items([('Name', 'Thor'), ('place', 'asard'), ('weapon', ['hammer', 'katthi'])])

In [36]:
marvel_dict.get('friend','goli')

'goli'

In [37]:
len(marvel_dict.keys())

3

In [38]:
marvel_dict['weapon'][0].upper()

'HAMMER'

In [39]:
marvel_dict['frend']='khader'

In [40]:
marvel_dict

{'Name': 'Thor',
 'place': 'asard',
 'weapon': ['hammer', 'katthi'],
 'frend': 'khader'}

In [41]:
marvel_dict.update({'frends':'nonew'})

In [42]:
marvel_dict

{'Name': 'Thor',
 'place': 'asard',
 'weapon': ['hammer', 'katthi'],
 'frend': 'khader',
 'frends': 'nonew'}

In [43]:
companies=['apple','samung','mi','realme','oneplus']
for i in companies:
    print(f'{i} company')

apple company
samung company
mi company
realme company
oneplus company

In [44]:
for number,i in enumerate(companies):
    print(number+1,i)

1 apple
2 samung
3 mi
4 realme
5 oneplus

In [45]:
companies[::-1]

['oneplus', 'realme', 'mi', 'samung', 'apple']

In [46]:
numbers=[1,2,3,4,5,6,7,8]
squared=[]
for i in numbers:
    square=i**2
    squared.append(square)
    #squared=squared+list(square)
print(squared)
print(numbers)
zipped=dict(zip(numbers ,squared))
print(zipped)

[1, 4, 9, 16, 25, 36, 49, 64]
[1, 2, 3, 4, 5, 6, 7, 8]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [47]:
quote="Keep smiling, because life is a beautiful thing and there's so much to smile about"
for char in quote:
    print("The letter is ",char)

The letter is  K
The letter is  e
The letter is  e
The letter is  p
The letter is
The letter is  s
The letter is  m
The letter is  i
The letter is  l
The letter is  i
The letter is  n
The letter is  g
The letter is  ,
The letter is
The letter is  b
The letter is  e
The letter is  c
The letter is  a
The letter is  u
The letter is  s
The letter is  e
The letter is
The letter is  l
The letter is  i
The letter is  f
The letter is  e
The letter is
The letter is  i
The letter is  s
The letter is
The letter is  a
The letter is
The letter is  b
The letter is  e
The letter is  a
The letter is  u
The letter is  t
The letter is  i
The letter is  f
The letter is  u
The letter is  l
The letter is
The letter is  t
The letter is  h
The letter is  i
The letter is  n
The letter is  g
The letter is
The letter is  a
The letter is  n
The letter is  d
The letter is
The letter is  t
The letter is  h
The letter is  e
The letter is  r
The letter is  e
The letter is  '
The letter is  s
The letter is
The letter is  s
The letter is  o
The letter is
The letter is  m
The letter is  u
The letter is  c
The letter is  h
The letter is
The letter is  t
The letter is  o
The letter is
The letter is  s
The letter is  m
The letter is  i
The letter is  l
The letter is  e
The letter is
The letter is  a
The letter is  b
The letter is  o
The letter is  u
The letter is  t

In [48]:
quote="Keep smiling, because life is a beautiful thing and there's so much to smile about"
words=quote.split(' ')
print(words)

['Keep', 'smiling,', 'because', 'life', 'is', 'a', 'beautiful', 'thing', 'and', "there's", 'so', 'much', 'to', 'smile', 'about']

In [49]:
for i in words:
    if i not in ['a']:
        
        print(f"the word is {i}")

the word is Keep
the word is smiling,
the word is because
the word is life
the word is is
the word is beautiful
the word is thing
the word is and
the word is there's
the word is so
the word is much
the word is to
the word is smile
the word is about

In [2]:
capitals=[('telangana','hyderabad'),('andhra','vizag'),('tn','chennai')]
for i,j in capitals:
    print(f"The capital of {i} is {j}")

The capital of telangana is hyderabad
The capital of andhra is vizag
The capital of tn is chennai

In [3]:
x=0
while x<10:
    x=x+1
    print(x)
    if x==3:
        break
else:
    print("done")

1
2
3

In [52]:
s=[]
for num1 in range(3):
    for num2 in range(3):
        print(num1,num2)
        s.append(num2)
print(s)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [5]:
s=[num2 for num1 in range(2) for num2 in range (5)]
print(s)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [21]:
for num1 in range(2):
    for num2 in range(5):
        print(num2,end=" ")

0 1 2 3 4 0 1 2 3 4

In [11]:
nums=[i for i in range(10) if i%3==0]
nums

[0, 3, 6, 9]

In [7]:
t=[]
for i in range(3):
    t.append(['k'])
#print(t)
    for j in range(5):
        t[i].append(j)
print(t)

[['k', 0, 1, 2, 3, 4], ['k', 0, 1, 2, 3, 4], ['k', 0, 1, 2, 3, 4]]

In [9]:
t=[[num2 for num2 in range(1,6)] for num1 in range(3)]
print(t)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [16]:
ksj=[]
for num1 in range(3):
    for num2 in range(1,6):
        print([num2])

[1]
[2]
[3]
[4]
[5]
[1]
[2]
[3]
[4]
[5]
[1]
[2]
[3]
[4]
[5]

In [22]:
y=[]
for i in range(5):
    y.append(i)

In [58]:
print(y)

[0, 1, 2, 3, 4]

In [59]:
quote="Keep smiling because life is a beautiful thing and theres so much to smile about"
x=quote.split(' ')
print(x)
for word in x:
    t=word[0]
    print(t)

['Keep', 'smiling', 'because', 'life', 'is', 'a', 'beautiful', 'thing', 'and', 'theres', 'so', 'much', 'to', 'smile', 'about']
K
s
b
l
i
a
b
t
a
t
s
m
t
s
a

In [25]:
c="Keep smiling"
for word in c:
    print(word)

K
e
e
p

s
m
i
l
i
n
g

In [5]:
days=["sunday","monday","tuesday","wednesday","Thursday","friday","saturday"]
for i in days:
    i=i[:-3]
    # i.remove[:-1]
    print(i)

sun
mon
tues
wednes
Thurs
fri
satur

In [27]:
num=int(input("enter a number: "))
def factorial(num):
    sam=1
    for i in range(1,num+1):
        #print(i)
        sam=sam*i
    print(sam)
factorial(num)

720

In [9]:
def do_math(a, b):
    return a + b



do_math(160, 30)

190

In [17]:
class dog:
    def __init__ (self, breed, Name):
        self.breed1=breed
        self.name=Name

In [18]:
samobj=dog(breed='labbe',Name='jonny')
frankobj=dog(breed='mappee',Name='junnu')
sonobj=dog(breed='lab',Name='jhansi')

In [20]:
samobj.breed1

'labbe'

In [67]:
samobj.name

'jonny'

In [68]:
sonobj.name

'jhansi'

In [69]:
dog

__main__.dog

In [70]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [97]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(thummedha):
    return f"{thummedha.name}({thummedha.age})"

p1 = Person("John", 36)
  
print(p1)

John(36)

In [29]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(selfi):
    print("Hello my name is " + selfi.name)

p1 = Person("John", 36)
p1.myfunc()

In [46]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print(f"Hello my name is "  +abc.name )

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [52]:
p1.age = 40

In [53]:
print(p1.age)

40

In [54]:
#del p1.age

In [55]:
print(p1.age)

40

In [64]:
#radius=int(input("enter radius:"))
class circle:
    def __init__ (mama,radius=1):
        mama.radius=radius
        mama.area=radius*radius*3.14
        mama.circume=2*radius
        mama.a=348237
    def circumference(self):
        self.b=82947
        return self.radius*3.14*2

In [65]:
c=circle(4)
print(f"area of circle : ",c.area)
print(f"circumference of circle : ",c.circumference())
print(f"circume:",c.circume)

area of circle :  50.24
circumference of circle :  25.12
circume: 8

In [120]:
2*3.14*28.26

177.4728

In [121]:
c.a

348237

In [122]:
c.b

82947

In [70]:
class khader:
    def __init__ (self,name):
        self.name=name
    def motto(self):
        return "my name is "+self.name+" basha"

In [71]:
class basha:
    def __init__ (self,name):
        self.name=name
    def moto(self):
        return (f"my lastname is {self.name} naguri")

In [72]:
voo=khader('Khader')
boo=basha('basha')

In [73]:
print(voo.motto())

my name is Khader basha

In [74]:
print(boo.moto())

my lastname is basha naguri

In [77]:
x=input()
print("Hello " +x)

Hello khadwe

In [79]:
class Name:
    def __init__ (self,name):
        self.name=name
    def komaram(self):
        return (f"my full name is {self.name}")

In [80]:
y=Name('Khader Basha')

In [82]:
print(y.komaram())

my full name is Khader Basha

In [87]:
try:
    print(khader)
except:
    print("dumbas")
        
finally:
    print("over")

<class '__main__.khader'>
over

In [89]:
n=int(input("enter a num: "))

for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****

In [90]:
n=int(input('enter the number of rows'))
for i in range(n):
    print('*'*5)

*****
*****
*****
*****
*****
*****

In [28]:
n=int(input('enter the number of rows:'))
for i in range(1,n+1):
    print((n-i)*(' ')+('* ')*i)

enter the number of rows:6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [91]:
p=int(input("enter a num:"))
for i in range(p,0,-1):
    print((' ')*(p-i)+('* ')*i)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [37]:
p=int(input("enter a num:"))
count=0
while (p>0):
    p=p//10
    count=count+1
print(count)

enter a num:76567
5

In [92]:
class base():
    a=10
    b=20
    def jam(dhur):
        print("nice")
class derived(base):
    c=30
    d=40
    def gulab(self):
        print("aithe")
dobject=derived()
print(dobject.a,dobject.d,dobject.c)
dobject.jam()
dobject.gulab()

10 40 30
nice
aithe

In [93]:
class demo():
    _a=10
    b=100
    def display(self):
        print(self._a)
        print("uuwen")
    def show(self):
        
objy=demo()
print(objy._a)
print(objy.b)
objy.display()

IndentationError: expected an indented block after function definition on line 7 (1172369657.py, line 9)

In [94]:
import os

In [95]:
os.getcwd()

'c:\\Users\\nagur\\.ipynb_checkpoints'

In [96]:
os.mkdir("bashank")

In [97]:
os.listdir()

['Allpy-checkpoint.ipynb',
 'Array-checkpoint.ipynb',
 'bashank',
 'DAA lb9-checkpoint.ipynb',
 'Day10-checkpoint.ipynb',
 'Day12-checkpoint.ipynb',
 'Day16-checkpoint.ipynb',
 'Day9-checkpoint.ipynb',
 'Empty-checkpoint.ipynb',
 'Hamiltonian-checkpoint.ipynb',
 'knapsack-checkpoint.ipynb',
 'KNN -checkpoint.ipynb',
 'KNN -Copy1-checkpoint.ipynb',
 'KNN Model-checkpoint.ipynb',
 'Lab 3 DAA-checkpoint.ipynb',
 'LCS-checkpoint.ipynb',
 'Ninja-checkpoint.ipynb',
 'python by siva-checkpoint.ipynb',
 'Salary_Data set-checkpoint.ipynb',
 'sepal petal-checkpoint.ipynb',
 'Simple Linear Regression-checkpoint.ipynb',
 'siva teach-checkpoint.ipynb',
 'Subset sum -checkpoint.ipynb',
 'svm image classi-checkpoint.ipynb',
 'SVM LAB-checkpoint.ipynb',
 'svm-checkpoint.ipynb',
 'tract-checkpoint.ipynb',
 'Travelling-checkpoint.ipynb',
 'udemypractice-checkpoint.ipynb',
 'Untitled-checkpoint.ipynb',
 'Untitled1-checkpoint.ipynb',
 'Untitled10-checkpoint.ipynb',
 'Untitled11-checkpoint.ipynb',
 'Untitled12-checkpoint.ipynb',
 'Untitled13-checkpoint.ipynb',
 'Untitled14-checkpoint.ipynb',
 'Untitled15-checkpoint.ipynb',
 'Untitled16-checkpoint.ipynb',
 'Untitled17-checkpoint.ipynb',
 'Untitled18-checkpoint.ipynb',
 'Untitled19-checkpoint.ipynb',
 'Untitled2-checkpoint.ipynb',
 'Untitled20-checkpoint.ipynb',
 'Untitled21-checkpoint.ipynb',
 'Untitled22-checkpoint.ipynb',
 'Untitled23-checkpoint.ipynb',
 'Untitled24-checkpoint.ipynb',
 'Untitled25-checkpoint.ipynb',
 'Untitled26-checkpoint.ipynb',
 'Untitled27-checkpoint.ipynb',
 'Untitled28-checkpoint.ipynb',
 'Untitled3-checkpoint.ipynb',
 'Untitled30-checkpoint.ipynb',
 'Untitled31-checkpoint.ipynb',
 'Untitled32-checkpoint.ipynb',
 'Untitled33-checkpoint.ipynb',
 'Untitled34-checkpoint.ipynb',
 'Untitled35-checkpoint.ipynb',
 'Untitled36-checkpoint.ipynb',
 'Untitled37-checkpoint.ipynb',
 'Untitled38-checkpoint.ipynb',
 'Untitled39-checkpoint.ipynb',
 'Untitled4-checkpoint.ipynb',
 'Untitled40-checkpoint.ipynb',
 'Untitled41-checkpoint.ipynb',
 'Untitled42-checkpoint.ipynb',
 'Untitled43-checkpoint.ipynb',
 'Untitled44-checkpoint.ipynb',
 'Untitled45-checkpoint.ipynb',
 'Untitled46-checkpoint.ipynb',
 'Untitled47-checkpoint.ipynb',
 'Untitled5-checkpoint.ipynb',
 'Untitled6-checkpoint.ipynb',
 'Untitled7-checkpoint.ipynb',
 'Untitled8-checkpoint.ipynb',
 'Untitled9-checkpoint.ipynb',
 'w3py-checkpoint.ipynb',
 'while loop-checkpoint.ipynb']

In [98]:
dir(os)

['DirEntry',
 'F_OK',
 'GenericAlias',
 'Mapping',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_walk',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'waitpid',
 'waitstatus_to_exitcode',
 'walk',
 'write']

In [99]:
os.path

In [101]:
os.rmdir("bashank")

In [102]:
os.listdir()

['Allpy-checkpoint.ipynb',
 'Array-checkpoint.ipynb',
 'DAA lb9-checkpoint.ipynb',
 'Day10-checkpoint.ipynb',
 'Day12-checkpoint.ipynb',
 'Day16-checkpoint.ipynb',
 'Day9-checkpoint.ipynb',
 'Empty-checkpoint.ipynb',
 'Hamiltonian-checkpoint.ipynb',
 'knapsack-checkpoint.ipynb',
 'KNN -checkpoint.ipynb',
 'KNN -Copy1-checkpoint.ipynb',
 'KNN Model-checkpoint.ipynb',
 'Lab 3 DAA-checkpoint.ipynb',
 'LCS-checkpoint.ipynb',
 'Ninja-checkpoint.ipynb',
 'python by siva-checkpoint.ipynb',
 'Salary_Data set-checkpoint.ipynb',
 'sepal petal-checkpoint.ipynb',
 'Simple Linear Regression-checkpoint.ipynb',
 'siva teach-checkpoint.ipynb',
 'Subset sum -checkpoint.ipynb',
 'svm image classi-checkpoint.ipynb',
 'SVM LAB-checkpoint.ipynb',
 'svm-checkpoint.ipynb',
 'tract-checkpoint.ipynb',
 'Travelling-checkpoint.ipynb',
 'udemypractice-checkpoint.ipynb',
 'Untitled-checkpoint.ipynb',
 'Untitled1-checkpoint.ipynb',
 'Untitled10-checkpoint.ipynb',
 'Untitled11-checkpoint.ipynb',
 'Untitled12-checkpoint.ipynb',
 'Untitled13-checkpoint.ipynb',
 'Untitled14-checkpoint.ipynb',
 'Untitled15-checkpoint.ipynb',
 'Untitled16-checkpoint.ipynb',
 'Untitled17-checkpoint.ipynb',
 'Untitled18-checkpoint.ipynb',
 'Untitled19-checkpoint.ipynb',
 'Untitled2-checkpoint.ipynb',
 'Untitled20-checkpoint.ipynb',
 'Untitled21-checkpoint.ipynb',
 'Untitled22-checkpoint.ipynb',
 'Untitled23-checkpoint.ipynb',
 'Untitled24-checkpoint.ipynb',
 'Untitled25-checkpoint.ipynb',
 'Untitled26-checkpoint.ipynb',
 'Untitled27-checkpoint.ipynb',
 'Untitled28-checkpoint.ipynb',
 'Untitled3-checkpoint.ipynb',
 'Untitled30-checkpoint.ipynb',
 'Untitled31-checkpoint.ipynb',
 'Untitled32-checkpoint.ipynb',
 'Untitled33-checkpoint.ipynb',
 'Untitled34-checkpoint.ipynb',
 'Untitled35-checkpoint.ipynb',
 'Untitled36-checkpoint.ipynb',
 'Untitled37-checkpoint.ipynb',
 'Untitled38-checkpoint.ipynb',
 'Untitled39-checkpoint.ipynb',
 'Untitled4-checkpoint.ipynb',
 'Untitled40-checkpoint.ipynb',
 'Untitled41-checkpoint.ipynb',
 'Untitled42-checkpoint.ipynb',
 'Untitled43-checkpoint.ipynb',
 'Untitled44-checkpoint.ipynb',
 'Untitled45-checkpoint.ipynb',
 'Untitled46-checkpoint.ipynb',
 'Untitled47-checkpoint.ipynb',
 'Untitled5-checkpoint.ipynb',
 'Untitled6-checkpoint.ipynb',
 'Untitled7-checkpoint.ipynb',
 'Untitled8-checkpoint.ipynb',
 'Untitled9-checkpoint.ipynb',
 'w3py-checkpoint.ipynb',
 'while loop-checkpoint.ipynb']

In [ ]:
'''import sys
print(sys.argv)

a=int(sys.argv[1])
b=int(sys.argv[2])
print("sum = ", a+b)'''

In [103]:
import datetime

In [108]:
from datetime import time
date.today()
datetime.now(tz=None)

AttributeError: module 'datetime' has no attribute 'now'

In [21]:
x=int(input("Enter the number of inputs : "))
min=[]
temp=0
while(x>0):
    y=int(input("Enter number"))
    x=x-1
    min=min+[y]
print(min)
while(True):
    for i in range (0,x-1):
        if(min[i]>min[i+1]):
            temp = min[i]
            min[i]=min[i+1]
            min[i+1]=temp
for j in range (0,x-1):
    print(y)

[24, 15, 30, 16]

KeyboardInterrupt:

In [46]:
x=int(input("Enter the number : "))
count=0
count1=0
for i in range(1,x):
    for j in range(1,i+1):
        count+=1
        if(count==x):
            break
    
    if(count==x):
        break
    count1+=1 
print(count1)

3

In [22]:
x=int(input("enter a num"))
y=int(input("enter a num2"))
z=x+y
print(z)

100