In [1]:
n=int(input("enter the number  :  "))     
count=0    
sum1=0
fac=1
i=1
while(n>0):
    r=n%10
    sum1=sum1+r
    n=n//10
    count+=1
print('the sum of the digits is ',sum1)
while(i<=sum1):
    fac=fac*i
    i=i+1
print("the factorial of the number is ",fac)

print("the average of the digits is",sum1/count)

the sum of the digits is  18
the factorial of the number is  6402373705728000
the average of the digits is 6.0

In [2]:
10*9*8*7*6*5*4*3*2*1

3628800

In [3]:
n=int(input("enter the number  :  "))
rev=0
while(n>0):
    r=n%10
    rev=rev*10+r
    n=n//10
print("the reversed number is ",rev)

the reversed number is  90890809809

In [4]:
#palindrome or not
1**3+5**3+3**3

153

In [39]:
a=int(input('enter the number')) 
a1=a#123

n=0
while(a>0):
    q=a%10
    n=n*10+q
    a=a//10
print(n)
print(a1)
if a1==n:
    print('palindrome')
else:
    print('not a palindrome')

enter the number12321
12321
0
12321
palindrome

In [19]:
a=int(input('enter the number'))   #123
count=0
add=0
while(a>0):
    j=a%10
    add=add+j
    count=count+1
    a=a//10
print(count)
print(add)
avg=add/count
print(avg)

enter the number1234
4
10
2.5

In [41]:
a=int(input('enter the num :'))#153
a1=a
m=a
count=0
sum=0
while(a>0):
    n=a%10  
    count=count+1
    a=a//10
while(a1>0):
    r=a1%10
    sum=sum+r**count
    a1=a1//10
if(m==sum):
    print("it is  a amstrong number  ")
else:
    print("the number is not a amstrong ")

enter the num :123
the number is not a amstrong

In [18]:
1%10

1

### 0**4

In [12]:
15//10

1

In [13]:
1//10

0

In [45]:
n=input("enter the string   :  ")
a="and"
if a in n:
    print("the word is present inside the string ")
else:
    print("the string is not present")

enter the string   :   and
the word is present inside the string

In [49]:
n=input("enter the string to compute integers inside a string   : ")
for i in n:
    if i.isdigit():
        print(i,end='')

enter the string to compute integers inside a string   : spiwqjdid157410-30
15741030

In [4]:
m=input("enter the string  :  ")
a=m.upper()
print(a)

NUHN

In [56]:
n='Siva'

In [57]:
m=n.swapcase()
print(m)

sIVA

In [59]:
m=input('enter the string ')
count=0
count1=0
for i in m:
    if i.isupper():
        count+=1
    elif i.islower():
        count1+=1
print("the number of the capital letters is ",count)
print("the number of the small letters is equal to ",count1)

enter the string 5s5d5t6TRE3SEDYT6rerYTD235434ERLNIGYFU
the number of the capital letters is  20
the number of the small letters is equal to  6

In [61]:
a='4'
int(a)

4

In [6]:
a='siva'
m=list(a)
print(m)
m.sort()
print(m)
y.join(m)

['s', 'i', 'v', 'a']
['a', 'i', 's', 'v']

NameError: name 'y' is not defined

In [12]:
n=int(input('enter the number of rows'))
for i in range(n):
    print('*'*n)

*****
*****
*****
*****
*****

In [103]:
a=int(input('enter the num : '))
for i in range(1,a+1):
    print('*'*i)

enter the num : 12
*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [134]:
a=int(input('enter the num : '))
for i in range(1,a+1):

    print((a-i)*(' ')+("* ")*i)

enter the num : 5
    *
   * *
  * * *
 * * * *
* * * * *

In [141]:
p=int(input('enter the number :'))
for i in range(a,0,-1):
    print((a-i)*(' ')+('* ')*i)

enter the number :6
* * * * *
 * * * *
  * * *
   * *
    *

In [14]:
a=input("enter the string")
b=''
for i in range(len(a)-1,-1,-1):
    b=b+a[i]
print(b)

ahsab

In [3]:
a='siva'
a[2]

'v'

In [5]:
#counting no of digits in a number
a=int(input('enter the number  :  '))
count=0
while(a>0):
    a=a//10
    count=count+1
print(count)

enter the number  :  232746
6

In [1]:
10//2

5

In [2]:
9//2

4

In [3]:
232746//10

23274

In [10]:
87//4

21

In [15]:
x=int(input("enter the size of array : "))
k=[]
sum=0
while (x>0):
    n=int(input("enter the array : "))
    x=x-1
    k=k+[n]
    sum=sum+n
print(k)
print(sum)

[2, 3, 4, 5]
14

In [17]:
n = input()
arr = map(input().split())
print(sum(arr))

TypeError: map() must have at least two arguments.

In [19]:
x = list(map(int, input("Enter multiple values: ").split()))  
print("List of students: ", x)

List of students:  [4, 5, 6, 7]

In [20]:
def simpleArraySum(x):
    num = 0
    for i in x:
        num+= i
    return num
simpleArraySum(x)

22

In [21]:
x=int(input("enter the size of array : "))
#n=int(input("enter the array : "))
entries = list(map(int, input().split())) 
entrie=list(entries)
entrie

[3]

In [23]:
n=int(input(6))
x=map(int, input().split(" ",n))
print(sum(x))

ValueError: invalid literal for int() with base 10: 'khader'

In [12]:
n=int(input(" "))
x=map(int,input().split(" ",n))
y=str(sum(x))
c=y.replace(" ","")
d=int(c)
print(d)

 4
1 2 3 4
10